@model WebSiteCore.ViewModels.AutoViewModel

<h1>@Model.Brand @Model.Name</h1>

<div>
 <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                        @for (int i = 0; i < Model.Photos.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Photos.Count(); i++)
                        {
                            <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                <img class="d-block w-100" src="@Model.Photos[i].UrlPath" alt="@Model.Photos[i].PhotoId">
                            </div>
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>


